/**
 * Basic elements.
 */
body {
	font-size: 12px;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
a {
	color: #222;
	text-decoration: underline;
}

/**
 * Clearfix.
 */
.widget_wp_sidebarlogin form > p:after,
.hris-widget-links li:after,
.home .post:after {
  content: "\200B";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}

/**
 * Header
 */
#masthead .site-description {
	margin-top: -10px;
	font-size: 86%;
}
.site-branding {
	position: relative;
	background: url(../img/bmw_ngi_header.jpg) top left no-repeat;
	height: 91px;
}
.site-title,
.site-description {
	margin-top: 0;
	text-indent: -9999px;
}

/**
 * Menus
 */
#site-navigation {
	background-color: #efefef;
	opacity: 0.8;
	margin-top: -29px;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0;
}
.nav>li>a {
	padding: 5px 15px;
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: #dedede;
}
.nav-pills>li.current-menu-item>a,
.nav-pills>li.current-menu-item>a:hover,
.nav-pills>li.current-menu-item>a:focus {
	background-color: #fff;
	color: #222;
	box-shadow: 0 5px 10px #ccc;
}

/**
 * Main
 */
.site-main {
 	padding: 10px;
 	border: 1px solid #ccc;
 	border-width: 0 1px 1px;
}
.site-main .post {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.site-main .post:last-child {
	border-bottom: none;
}
.post .entry-meta {
	margin-bottom: 5px;
	font-size: 11px;
	color: #999;
}
.site-main .post .entry-title {
	font-size: 14px;
	font-weight: normal;
}
.entry-thumbnail {
	float: right;
	margin-left: 20px;
}

.spotlight-news {
	margin-top: 20px;
}

.spotlight-news .carousel-caption {
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	text-align: left;
	padding: 10px;
}

.spotlight-news .carousel-caption h3 {
	margin-top: 0;
}

.spotlight-news .carousel-caption a {
	color: #fff;
}

 /**
  * Widget.
  */
.widget_text h2,
.widget_wp_sidebarlogin h2 {
	margin: -10px -10px 10px -10px;
	padding: 5px;
	background-color: #999;
	color: #fff;
	font-size: 14px;
}
.widget_text,
.widget_wp_sidebarlogin {
 	margin-left: -20px;
 	margin-top: 10px;
 	padding: 10px;
 	border-color: #ccc;
 	border-width: 1px;
 	border-style: solid;
}
.widget_text ul {
	list-style-type: none;
	padding-left: 0;
}
.widget_text h3 {
	font-size: 14px;
}

.hris-widget-links li {
	font-size: 11px;
	margin-bottom: 5px;
}
.hris-widget-links li span {
	width: 28%;
	float: left;
}
.hris-widget-links li a {
	width: 68%;
	float: left;
}

.widget_wp_sidebarlogin p label {
	font-weight: normal;
	font-size: 13px;
}
.widget_wp_sidebarlogin .login-username label,
.widget_wp_sidebarlogin .login-password label {
 	float: left;
 	width: 40%;
}
.widget_wp_sidebarlogin p input[type="text"],
.widget_wp_sidebarlogin p input[type="password"] {
	float: left;
	width: 55%;
}
.widget_wp_sidebarlogin .sidebar_login_links {
	position: relative;
}
.widget_wp_sidebarlogin .lost_password-link {
	position: absolute;
	bottom: 13px;
	right: 20px;
}
.widget_wp_sidebarlogin .lost_password-link a {
	color: #777;
}


/**
 * Widget categories.
 */
.widget_categories {
	margin-top: 40px;
}
.widget_categories h2 {
	height: 0;
	margin: 0;
	text-indent: -9999px;
}
.widget_categories ul {
	list-style-type: none;
}
.widget_categories > ul {
	padding-left: 0;
}
.widget_categories ul.children {
	padding-left: 10px;
}
.widget_categories .tree-toggler {
	text-decoration: normal;
}
.widget_categories ul li {
	position: relative;
	margin-bottom: 10px;
	padding-left: 15px;
	font-size: 12px;
}
.widget_categories li .glyphicon {
	position: absolute;
	left: 0;
	top: 7px;
}
.widget_categories ul li > a {
	display: block;
	padding: 5px;
	box-shadow: -5px 0 10px #fff;
}
.widget_categories ul li a:hover,
.widget_categories ul li a:focus,
.widget_categories ul li.current-cat > a {

	box-shadow: -5px 0 10px #ccc;
}
.widget_categories li.current-cat .children {
	display: block;
}

/**
 * Footer
 */
#colophon {
 	margin-top: 40px;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	background-color: #efefef;
 	border-top: 1px solid #ccc;
}
.site-footer .site-info {
	text-align: center;
	color: #999;
	font-size: 10px;
}